<!DOCTYPE html>
<html>
<head>
<%# 参照：view/layouts/application.html.erb %>
</head>
<body>
<div class="p-main">
  <div class="p-contents">
    <div class="titlebox" style="background-image: url(https://www.musey.net/wp-content/uploads/2014/08/Vincent-van-Gogh-Starry-Night_1920x1200.jpg);">
    フィンセント・ファン・ゴッホ
    <p class="subtitle">〜オランダのポスト印象派の画家〜</p>
      <div class="submessage">
        フィンセント・ヴィレム・ファン・ゴッホは、オランダのポスト印象派の画家。
        主要作品の多くは1886年以降のフランス居住時代、特にアルル時代（1888年 - 1889年5月）とサン＝レミでの療養時代（1889年5月 - 1890年5月）に制作された。
        感情の率直な表現、大胆な色使いで知られ、ポスト印象派を代表する画家である。フォーヴィスムやドイツ表現主義など、20世紀の美術にも大きな影響を及ぼした。
      </div>
    </div>
    <div class="leftbox">

      <h1>星月夜 (絵画)</h1>
      <p class="text">オランダの画家・ゴッホの代表作のひとつ。1889年6月、フランスサン＝レミ＝ド＝プロヴァンスのサン＝ポール・ド・モゾル修道院の精神病院で療養中に描かれた。1941年、リリー・P・ブリス遺贈。ニューヨーク近代美術館の永久コレクションである。
      この絵は、フランス人作曲家アンリ・デュティユーの管弦楽曲「音色、空間、運動 (Timbres, Espace, Mouvement) 」にインスピレーションを与えた。また、この絵は、2011年公開のウディ・アレン監督の映画『ミッドナイト・イン・パリ』のポスターに部分的に使用されている[1]。
      </p>
      <h1>解説</h1>
      <p class="text">
      月と星でいっぱいの夜空と画面の4分3を覆っている大きな渦巻きが表現主義風に描かれている。ゴッホの最も優れた作品の1つとして評価されており、また世界で最もよく知られている西洋美術絵画の１つである。
      《星月夜》は、サン＝レミのサン＝ポール療養院にゴッホが入院しているときに、部屋の東向きの窓から見える日の出前の村の風景を描いたものである。「今朝、太陽が昇る前に私は長い間、窓から非常に大きなモーニングスター以外は何もない村里を見た」と、ゴッホは弟のテオに手紙をつづり、《星月夜》の制作背景を説明している。
      激しい筆致で描かれた星空の下には、それとは対照的に教会を取り巻く謙虚なムードの家屋が広がっている。また、教会の尖塔は背景に波立つ青黒い山々を貫くように誇張して描かれている。
      前景にある大きな木は糸杉である。糸杉はまるで炎のようでキャンバスの下端から上端まで描かれており、それは土地と空を視覚的に接続する役割を果たしている。 天と地を接続している糸杉は、一般的に天国と関連して、死の架け橋の象徴とみなされている。また糸杉は墓地の木ともみなされており、哀悼の意を表しているという。
      《星月夜》は、精神病院の窓から見える風景が基盤になっているが、実際にこのような風景は存在していない。ゴッホの過去の記憶がコラージュされており、たとえば中央に見える教会はフランスの教会ではなく、ゴッホの故郷であるオランダの教会が描かれている。
      </p>
      <div class="image-box">
      <img src="https://www.musey.net/wp-content/uploads/2014/08/Vincent-van-Gogh-Starry-Night_1920x1200.jpg" class="image"  >
      <br>星月夜
      </div>
      <div class="image-box">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/38/VanGogh_1887_Selbstbildnis.jpg/500px-VanGogh_1887_Selbstbildnis.jpg" class="image"  >
      <br>フィンセント・ファン・ゴッホ
      </div>

      <h1>所蔵先</h1>
      <p class="text">
      1941年にアメリカのコレクターのリリー・P・ブリスからニューヨーク近代美術館に遺贈されたあと、現在まで同美術館が所蔵している。
      </p>
      <div class="endbox">
        <h3>このカリキュラムの理解度を教えてください</h3>
        <h4>ボタンを押していただくと次へ進めます</h4>

<%# //////////////////////////////////////////////////////////////%>
    <% if @page.nil? %>
        <div class="read-field">
          <%= form_tag('/page/3', method: :post) do %>  <%# !編集! %>
            <div class="field">
            <input placeholder="page" type="hidden" name="page" class="" value="3">  <%# !編集! %>
            </div>
            <div class="field">
            <input placeholder="read_log" type="hidden" name="read_log" class="" value="0" >
            </div>
              <div class="read-field-box">
            <input type="submit" value="0%" class="read-btn" >
            </div>
          <% end %>

              <%= form_tag('/page/3', method: :post) do %>  <%# !編集! %>
            <div class="field">
            <input placeholder="page" type="hidden" name="page" class="" value="3">  <%# !編集! %>
            </div>
            <div class="field">
            <input placeholder="read_log" type="hidden" name="read_log" class="" value="50" >
            </div>
              <div class="read-field-box">
            <input type="submit" value="50%" class="read-btn" >
            </div>
          <% end %>

            <%= form_tag('/page/3', method: :post) do %>  <%# !編集! %>
            <div class="field">
            <input placeholder="page" type="hidden" name="page" class="n-btn" value="3">  <%# !編集! %>
            </div>
            <div class="field">
            <input placeholder="read_log" type="hidden" name="read_log" class="n-btn" value="100" >
            </div>
              <div class="read-field-box">
            <input type="submit" value="100%" class="read-btn" >
            </div>
          <% end %>
        </div>

<%# //////////////////////////////////////////////////////////////%>
        <% else %>
             <div class="read-field">
          <%= form_tag('/page/3', method: :patch) do %><%# !編集! %>
            <div class="field">
            <input placeholder="page" type="hidden" name="page" class="" value="3"><%# !編集! %>
            </div>
            <div class="field">
            <input placeholder="read_log" type="hidden" name="read_log" class="" value="0" >
            </div>
              <div class="read-field-box">
            <input type="submit" value="0%" class="read-btn" >
            </div>
          <% end %>

              <%= form_tag('/page/3', method: :patch) do %>  <%# !編集! %>
            <div class="field">
            <input placeholder="page" type="hidden" name="page" class="" value="3">  <%# !編集! %>
            </div>
            <div class="field">
            <input placeholder="read_log" type="hidden" name="read_log" class="" value="50" >
            </div>
              <div class="read-field-box">
            <input type="submit" value="50%" class="read-btn" >
            </div>
          <% end %>

            <%= form_tag('/page/3', method: :patch) do %>  <%# !編集! %>
            <div class="field">
            <input placeholder="page" type="hidden" name="page" class="n-btn" value="3">  <%# !編集! %>
            </div>
            <div class="field">
            <input placeholder="read_log" type="hidden" name="read_log" class="n-btn" value="100" >
            </div>
              <div class="read-field-box">
            <input type="submit" value="100%" class="read-btn" >
            </div>
          <% end %>
        </div>
      <% end %>

<%# //////////////////////////////////////////////////////////////%>


              <ul class="next-back">
            <li class="next-back-box" ng-show="curriculum.previous_id" style="">
              <a ng-click="go_previous()" class="btnlink">&lt;&lt;前のカリキュラム</a>
            </li>
            <li class="next-back-box" ng-show="curriculum.next_id">
              <a ng-click="go_next()" class="btnlink" >次のカリキュラム&gt;&gt;</a>
            </li>
            <li ng-hide="curriculum.next_id" class="next-back-box">
              <a href="/" class="btnlink" >TOPページへ戻る</a>
            </li>
          </ul>

      </div>
    </div>
    
<%# //////サイドバー//////%>
    <div class="lightbox">
      <div class="lightbar">
      </div>
    </div>
</div>
</body>
</html>
