<!DOCTYPE html>
<html>
<head>
<%# 参照：view/layouts/application.html.erb %>
</head>
<body>
<div class="p-main">
  <%# <div class="p-main__contents"> %>
      <%# <h1>１ー１：救急外傷処置総論</h1>
      <ul class="p-main__contents__titlebox2 slider">
          <li><a href="#"><img src="/assets/1-1/1-1.001.png" alt="image01"></a></li>
          <li><a href="#"><img src="/assets/1-1/1-1.002.png" alt="image02"></a></li>
          <li><a href="#"><img src="/assets/1-1/1-1.003.png" alt="image03"></a></li>
          <li><a href="#"><img src="/assets/1-1/1-1.004.png" alt="image04"></a></li>
      </ul> %>

<%# 1*****%>
    <div class="p-main__contents__leftbox">
       <h1>１ー１：救急外傷処置総論</h1>
      <ul class="p-main__contents__titlebox2 slider">
          <li><img data-lazy="/assets/1-1/1-1.001.png" alt="image01"></a>1/8</li>
          <li><img data-lazy="/assets/1-1/1-1.002.png" alt="image02"></a>2/8</li>
          <li><img data-lazy="/assets/1-1/1-1.003.png" alt="image03"></a>3/8</li>
          <li><img data-lazy="/assets/1-1/1-1.004.png" alt="image04"></a>4/8</li>
          <li><img data-lazy="/assets/1-1/1-1.001.png" alt="image01"></a>5/9</li>
          <li><img data-lazy="/assets/1-1/1-1.002.png" alt="image02"></a>5/9</li>
          <li><img data-lazy="/assets/1-1/1-1.003.png" alt="image03"></a>5/9</li>
          <li><img data-lazy="/assets/1-1/1-1.004.png" alt="image04"></a>5/9</li>
      </ul>
      

<%# 2*****%>
      <h1>１ー２：救急外傷処置総論</h1>
      <ul class="p-main__contents__titlebox2 slider">
          <li><img src="/assets/1-1/1-1.001.png" alt="image01"></a></li>
          <li><img src="/assets/1-1/1-1.002.png" alt="image02"></a></li>
          <li><img src="/assets/1-1/1-1.003.png" alt="image03"></a></li>
          <li><img src="/assets/1-1/1-1.004.png" alt="image04"></a></li>
      </ul>

      <div class="endbox">
        <h3>このカリキュラムの理解度を教えてください</h3>
        <h4>ボタンを押していただくと次へ進めます</h4>

<%# クリエイトボタン************** %>
    <% if @page.nil? %> 
        <div class="read-field">
          <%= form_tag('/page/2', method: :post) do %>   <%# !編集! %>
            <div class="field">
            <input placeholder="page" type="hidden" name="page" class="" value="2">     <%# !編集! %>
            </div>
            <div class="field">
            <input placeholder="read_log" type="hidden" name="read_log" class="" value="0" >
            </div>
              <div class="read-field-box">
            <input type="submit" value="0%" class="read-btn" >
            </div>
          <% end %>

            <%= form_tag('/page/2', method: :post) do %>     <%# !編集! %>
            <div class="field">
            <input placeholder="page" type="hidden" name="page" class="" value="2">   <%# !編集! %>
            </div>
            <div class="field">
            <input placeholder="read_log" type="hidden" name="read_log" class="" value="50" >
            </div>
            <div class="read-field-box">
            <input type="submit" value="50%" class="read-btn" >
            </div>
          <% end %>

            <%= form_tag('/page/2', method: :post) do %>     <%# !編集! %>
            <div class="field">
            <input placeholder="page" type="hidden" name="page" class="n-btn" value="2">     <%# !編集! %>
            </div>
            <div class="field">
            <input placeholder="read_log" type="hidden" name="read_log" class="n-btn" value="100" >
            </div>
              <div class="read-field-box">
            <input type="submit" value="100%" class="read-btn" >
            </div>
          <% end %>
        </div>

<%# エディットボタン************** %>
        <% else %>
             <div class="read-field">
          <%= form_tag('/page/2', method: :patch) do %>     <%# !編集! %>
            <div class="field">
            <input placeholder="page" type="hidden" name="page" class="" value="2">      <%# !編集! %>
            </div>
            <div class="field">
            <input placeholder="read_log" type="hidden" name="read_log" class="" value="0" >
            </div>
              <div class="read-field-box">
            <input type="submit" value="0%" class="read-btn" >
            </div>
          <% end %>

              <%= form_tag('/page/2', method: :patch) do %>     <%# !編集! %>
            <div class="field">
            <input placeholder="page" type="hidden" name="page" class="" value="2">     <%# !編集! %>
            </div>
            <div class="field">
            <input placeholder="read_log" type="hidden" name="read_log" class="" value="50" >
            </div>
              <div class="read-field-box">
            <input type="submit" value="50%" class="read-btn" >
            </div>
          <% end %>

            <%= form_tag('/page/2', method: :patch) do %>  <%# !編集! %>
            <div class="field">
            <input placeholder="page" type="hidden" name="page" class="n-btn" value="2">  <%# !編集! %>
            </div>
            <div class="field">
            <input placeholder="read_log" type="hidden" name="read_log" class="n-btn" value="100" >
            </div>
              <div class="read-field-box">
            <input type="submit" value="100%" class="read-btn" >
            </div>
          <% end %>
        </div>
      <% end %>

<%# BACK・NEXT・TOP ************** %>
          <ul class="next-back">
            <li class="next-back-box" ng-show="curriculum.previous_id" style="">
              <a ng-click="go_previous()" class="btnlink">&lt;&lt;前のカリキュラム</a>
            </li>
            <li class="next-back-box" ng-show="curriculum.next_id">
              <a ng-click="go_next()" class="btnlink" >次のカリキュラム&gt;&gt;</a>
            </li>
            <li ng-hide="curriculum.next_id" class="next-back-box">
              <a href="/" class="btnlink" >TOPページへ戻る</a>
            </li>
          </ul>
      </div>
<%# サイドバー************** %>
    </div>

</div>



</body>
</html>
