<!DOCTYPE html>
<html>
<head>
<%# тЈѓуЁД№╝џview/layouts/application.html.erb %>
</head>
<body>
<div class="p-main">
  <div class="p-main__contents">
    <div class="p-main__contents__titlebox" style="background-image: url(/assets/patrol.jpg);">
      тцќтѓитЄдуй«сЂ«УђЃсЂѕТќ╣
      <p class="subtitle">сђюсЃфсѓ╣сѓ»сѓњтєњсЂЋсЂфсЂёсЂЪсѓЂсЂФТ░ЌсѓњсЂцсЂЉсѓІсЂЊсЂесђю</p>
      <div class="submessage">
      сђїсЃЋсЃЕсЃ│сѓ╣жЮЕтЉйсђЇсЂ»сђЂ18СИќу┤ђтЙїтЇі№╝ѕ1789т╣┤сђю1799т╣┤№╝ЅсЃЋсЃЕсЃ│сѓ╣сЂДУхисЂЇсЂЪтИѓТ░ЉжЮЕтЉйжЂІтІЋсЂДсЂЎсђѓ
       сЂЊсЂ«жЮЕтЉйсЂФсѓѕсЂБсЂдсђЂујІсЂїухХт»ЙуџёТеЕтіЏсѓњТюЅсЂЌсЂЪухХт»ЙтљЏСИ╗тѕХТЎѓС╗БсЂесђЂсЂЮсѓїсЂЙсЂДсЂ«т░Ђт╗║уџёСйЊтѕХсЂїт┤ЕтБісЂЌсЂЙсЂЌсЂЪсђѓ
      сЂЮсЂЌсЂдсЂЊсЂ«жЮЕтЉйсЂФсѓѕсЂБсЂдсђЂсЃЋсЃЕсЃ│сѓ╣сЂїТќ░сЂЪсЂфУ┐ЉС╗БтЏйт«ХСйЊтѕХсѓњу»ЅсЂёсЂдсЂёсЂЈсЂЊсЂесЂесЂфсЂБсЂЪсђѓ
      </div>
    </div>

    <div class="p-main__contents__leftbox">
<%# 1*****%>
       <h1>­ЪјЌТЋЉТђЦтцќтѓитЄдуй« уиЈУФќРЉа№╝џ тцќтѓитЄдуй«сЂ«УђЃсЂѕТќ╣</h1>
      <ul class="slider">
          <li><img data-lazy="/assets/ТЋЉТђЦтцќтѓитЄдуй«уиЈУФќ/ТЋЉТђЦтцќтѓитЄдуй«уиЈУФќ.002.png" alt="image01"></li>
          <li><img data-lazy="/assets/ТЋЉТђЦтцќтѓитЄдуй«уиЈУФќ/ТЋЉТђЦтцќтѓитЄдуй«уиЈУФќ.003.png" alt="image02"></li>
          <li><img data-lazy="/assets/ТЋЉТђЦтцќтѓитЄдуй«уиЈУФќ/ТЋЉТђЦтцќтѓитЄдуй«уиЈУФќ.004.png" alt="image03"></li>
          <li><img data-lazy="/assets/ТЋЉТђЦтцќтѓитЄдуй«уиЈУФќ/ТЋЉТђЦтцќтѓитЄдуй«уиЈУФќ.005.png" alt="image04"></li>
          <li><img data-lazy="/assets/ТЋЉТђЦтцќтѓитЄдуй«уиЈУФќ/ТЋЉТђЦтцќтѓитЄдуй«уиЈУФќ.006.png" alt="image01"></li>
          <li><img data-lazy="/assets/ТЋЉТђЦтцќтѓитЄдуй«уиЈУФќ/ТЋЉТђЦтцќтѓитЄдуй«уиЈУФќ.007.png" alt="image02"></li>
          <li><img data-lazy="/assets/ТЋЉТђЦтцќтѓитЄдуй«уиЈУФќ/ТЋЉТђЦтцќтѓитЄдуй«уиЈУФќ.008.png" alt="image03"></li>
      </ul>
      <br><br><br>
<%# 2****** %>
      <h1>­ЪЊЋТЋЉТђЦтцќтѓитЄдуй« уиЈУФќРЉА№╝џ уиіТђЦсѓњУдЂсЂЎсѓІтцќтѓисЂ«жЉЉтѕЦРЉа</h1> 
      <ul class="slider">
          <li><img data-lazy="/assets/ТЋЉТђЦтцќтѓитЄдуй«уиЈУФќ/ТЋЉТђЦтцќтѓитЄдуй«уиЈУФќ.009.png" alt="image01"></li>
          <li><img data-lazy="/assets/ТЋЉТђЦтцќтѓитЄдуй«уиЈУФќ/ТЋЉТђЦтцќтѓитЄдуй«уиЈУФќ.010.png" alt="image02"></li>
          <li><img data-lazy="/assets/ТЋЉТђЦтцќтѓитЄдуй«уиЈУФќ/ТЋЉТђЦтцќтѓитЄдуй«уиЈУФќ.011.png" alt="image03"></li>
          <li><img data-lazy="/assets/ТЋЉТђЦтцќтѓитЄдуй«уиЈУФќ/ТЋЉТђЦтцќтѓитЄдуй«уиЈУФќ.012.png" alt="image04"></li>
          <li><img data-lazy="/assets/ТЋЉТђЦтцќтѓитЄдуй«уиЈУФќ/ТЋЉТђЦтцќтѓитЄдуй«уиЈУФќ.013.png" alt="image01"></li>
          <li><img data-lazy="/assets/ТЋЉТђЦтцќтѓитЄдуй«уиЈУФќ/ТЋЉТђЦтцќтѓитЄдуй«уиЈУФќ.014.png" alt="image02"></li>
          <li><img data-lazy="/assets/ТЋЉТђЦтцќтѓитЄдуй«уиЈУФќ/ТЋЉТђЦтцќтѓитЄдуй«уиЈУФќ.015.png" alt="image03"></li>
          <li><img data-lazy="/assets/ТЋЉТђЦтцќтѓитЄдуй«уиЈУФќ/ТЋЉТђЦтцќтѓитЄдуй«уиЈУФќ.016.png" alt="image01"></li>
          <li><img data-lazy="/assets/ТЋЉТђЦтцќтѓитЄдуй«уиЈУФќ/ТЋЉТђЦтцќтѓитЄдуй«уиЈУФќ.017.png" alt="image02"></li>
          <li><img data-lazy="/assets/ТЋЉТђЦтцќтѓитЄдуй«уиЈУФќ/ТЋЉТђЦтцќтѓитЄдуй«уиЈУФќ.018.png" alt="image03"></li>
          <li><img data-lazy="/assets/ТЋЉТђЦтцќтѓитЄдуй«уиЈУФќ/ТЋЉТђЦтцќтѓитЄдуй«уиЈУФќ.019.png" alt="image04"></li>
          <li><img data-lazy="/assets/ТЋЉТђЦтцќтѓитЄдуй«уиЈУФќ/ТЋЉТђЦтцќтѓитЄдуй«уиЈУФќ.020.png" alt="image01"></li>
          <li><img data-lazy="/assets/ТЋЉТђЦтцќтѓитЄдуй«уиЈУФќ/ТЋЉТђЦтцќтѓитЄдуй«уиЈУФќ.021.png" alt="image02"></li>
      </ul>
      <br><br><br>
<%# 3****** %>
      <h1>­ЪЊњТЋЉТђЦтцќтѓитЄдуй« уиЈУФќРЉА№╝џ уиіТђЦсѓњУдЂсЂЎсѓІтцќтѓисЂ«жЉЉтѕЦРЉА</h1>
      <ul class="slider">
          <li><img data-lazy="/assets/ТЋЉТђЦтцќтѓитЄдуй«уиЈУФќ/ТЋЉТђЦтцќтѓитЄдуй«уиЈУФќ.022.png" alt="image01"></li>
          <li><img data-lazy="/assets/ТЋЉТђЦтцќтѓитЄдуй«уиЈУФќ/ТЋЉТђЦтцќтѓитЄдуй«уиЈУФќ.023.png" alt="image02"></li>
          <li><img data-lazy="/assets/ТЋЉТђЦтцќтѓитЄдуй«уиЈУФќ/ТЋЉТђЦтцќтѓитЄдуй«уиЈУФќ.024.png" alt="image03"></li>
          <li><img data-lazy="/assets/ТЋЉТђЦтцќтѓитЄдуй«уиЈУФќ/ТЋЉТђЦтцќтѓитЄдуй«уиЈУФќ.025.png" alt="image04"></li>
          <li><img data-lazy="/assets/ТЋЉТђЦтцќтѓитЄдуй«уиЈУФќ/ТЋЉТђЦтцќтѓитЄдуй«уиЈУФќ.026.png" alt="image01"></li>
          <li><img data-lazy="/assets/ТЋЉТђЦтцќтѓитЄдуй«уиЈУФќ/ТЋЉТђЦтцќтѓитЄдуй«уиЈУФќ.027.png" alt="image02"></li>
          <li><img data-lazy="/assets/ТЋЉТђЦтцќтѓитЄдуй«уиЈУФќ/ТЋЉТђЦтцќтѓитЄдуй«уиЈУФќ.028.png" alt="image03"></li>
          <li><img data-lazy="/assets/ТЋЉТђЦтцќтѓитЄдуй«уиЈУФќ/ТЋЉТђЦтцќтѓитЄдуй«уиЈУФќ.029.png" alt="image01"></li>
          <li><img data-lazy="/assets/ТЋЉТђЦтцќтѓитЄдуй«уиЈУФќ/ТЋЉТђЦтцќтѓитЄдуй«уиЈУФќ.030.png" alt="image02"></li>
          <li><img data-lazy="/assets/ТЋЉТђЦтцќтѓитЄдуй«уиЈУФќ/ТЋЉТђЦтцќтѓитЄдуй«уиЈУФќ.031.png" alt="image03"></li>
          <li><img data-lazy="/assets/ТЋЉТђЦтцќтѓитЄдуй«уиЈУФќ/ТЋЉТђЦтцќтѓитЄдуй«уиЈУФќ.032.png" alt="image04"></li>
      </ul>
      <br><br><br>
<%# 4****** %>
      <h1>­ЪјЅТЋЉТђЦтцќтѓитЄдуй« уиЈУФќРЉб№╝џ тЏ║т«џсЂ«тјЪтЅЄсЂеУђЃсЂѕТќ╣</h1>
      <ul class="slider">
          <li><img data-lazy="/assets/ТЋЉТђЦтцќтѓитЄдуй«уиЈУФќ/ТЋЉТђЦтцќтѓитЄдуй«уиЈУФќ.033.png" alt="image01"></li>
          <li><img data-lazy="/assets/ТЋЉТђЦтцќтѓитЄдуй«уиЈУФќ/ТЋЉТђЦтцќтѓитЄдуй«уиЈУФќ.034.png" alt="image02"></li>
          <li><img data-lazy="/assets/ТЋЉТђЦтцќтѓитЄдуй«уиЈУФќ/ТЋЉТђЦтцќтѓитЄдуй«уиЈУФќ.035.png" alt="image03"></li>
          <li><img data-lazy="/assets/ТЋЉТђЦтцќтѓитЄдуй«уиЈУФќ/ТЋЉТђЦтцќтѓитЄдуй«уиЈУФќ.036.png" alt="image04"></li>
          <li><img data-lazy="/assets/ТЋЉТђЦтцќтѓитЄдуй«уиЈУФќ/ТЋЉТђЦтцќтѓитЄдуй«уиЈУФќ.037.png" alt="image01"></li>
          <li><img data-lazy="/assets/ТЋЉТђЦтцќтѓитЄдуй«уиЈУФќ/ТЋЉТђЦтцќтѓитЄдуй«уиЈУФќ.038.png" alt="image02"></li>
          <li><img data-lazy="/assets/ТЋЉТђЦтцќтѓитЄдуй«уиЈУФќ/ТЋЉТђЦтцќтѓитЄдуй«уиЈУФќ.039.png" alt="image03"></li>
          <li><img data-lazy="/assets/ТЋЉТђЦтцќтѓитЄдуй«уиЈУФќ/ТЋЉТђЦтцќтѓитЄдуй«уиЈУФќ.040.png" alt="image01"></li>
          <li><img data-lazy="/assets/ТЋЉТђЦтцќтѓитЄдуй«уиЈУФќ/ТЋЉТђЦтцќтѓитЄдуй«уиЈУФќ.041.png" alt="image02"></li>
          <li><img data-lazy="/assets/ТЋЉТђЦтцќтѓитЄдуй«уиЈУФќ/ТЋЉТђЦтцќтѓитЄдуй«уиЈУФќ.042.png" alt="image03"></li>
          <li><img data-lazy="/assets/ТЋЉТђЦтцќтѓитЄдуй«уиЈУФќ/ТЋЉТђЦтцќтѓитЄдуй«уиЈУФќ.043.png" alt="image04"></li>
          <li><img data-lazy="/assets/ТЋЉТђЦтцќтѓитЄдуй«уиЈУФќ/ТЋЉТђЦтцќтѓитЄдуй«уиЈУФќ.044.png" alt="image01"></li>
          <li><img data-lazy="/assets/ТЋЉТђЦтцќтѓитЄдуй«уиЈУФќ/ТЋЉТђЦтцќтѓитЄдуй«уиЈУФќ.045.png" alt="image02"></li>
          <li><img data-lazy="/assets/ТЋЉТђЦтцќтѓитЄдуй«уиЈУФќ/ТЋЉТђЦтцќтѓитЄдуй«уиЈУФќ.046.png" alt="image03"></li>
          <li><img data-lazy="/assets/ТЋЉТђЦтцќтѓитЄдуй«уиЈУФќ/ТЋЉТђЦтцќтѓитЄдуй«уиЈУФќ.047.png" alt="image04"></li>
      </ul>
      <br><br><br>

      <div class="endbox">
        <h3>сЂЊсЂ«сѓФсЃфсѓГсЃЦсЃЕсЃасЂ«уљєУДБт║дсѓњТЋЎсЂѕсЂдсЂЈсЂасЂЋсЂё</h3>
        <h4>сЃюсѓ┐сЃ│сѓњТі╝сЂЌсЂдсЂёсЂЪсЂасЂЈсЂеТгАсЂИжђ▓сѓЂсЂЙсЂЎ</h4>

<%# сѓ»сЃфсѓесѓцсЃѕсЃюсѓ┐сЃ│************** %>
    <% if @page.nil? %> 
        <div class="read-field">
          <%= form_tag('/page/3', method: :post) do %>  <%# !уиежЏє! %>
            <div class="field">
            <input placeholder="page" type="hidden" name="page" class="" value="3">  <%# !уиежЏє! %>
            </div>
            <div class="field">
            <input placeholder="read_log" type="hidden" name="read_log" class="" value="0" >
            </div>
              <div class="read-field-box">
            <input type="submit" value="0%" class="read-btn" >
            </div>
          <% end %>

            <%= form_tag('/page/3', method: :post) do %>  <%# !уиежЏє! %>
            <div class="field">
            <input placeholder="page" type="hidden" name="page" class="" value="3">  <%# !уиежЏє! %>
            </div>
            <div class="field">
            <input placeholder="read_log" type="hidden" name="read_log" class="" value="50" >
            </div>
            <div class="read-field-box">
            <input type="submit" value="50%" class="read-btn" >
            </div>
          <% end %>

            <%= form_tag('/page/3', method: :post) do %>  <%# !уиежЏє! %>
            <div class="field">
            <input placeholder="page" type="hidden" name="page" class="n-btn" value="3">  <%# !уиежЏє! %>
            </div>
            <div class="field">
            <input placeholder="read_log" type="hidden" name="read_log" class="n-btn" value="100" >
            </div>
              <div class="read-field-box">
            <input type="submit" value="100%" class="read-btn" >
            </div>
          <% end %>
        </div>

<%# сѓесЃЄсѓБсЃЃсЃѕсЃюсѓ┐сЃ│************** %>
        <% else %>
             <div class="read-field">
          <%= form_tag('/page/3', method: :patch) do %>  <%# !уиежЏє! %>
            <div class="field">
            <input placeholder="page" type="hidden" name="page" class="" value="3">  <%# !уиежЏє! %>
            </div>
            <div class="field">
            <input placeholder="read_log" type="hidden" name="read_log" class="" value="0" >
            </div>
              <div class="read-field-box">
            <input type="submit" value="0%" class="read-btn" >
            </div>
          <% end %>

              <%= form_tag('/page/3', method: :patch) do %>  <%# !уиежЏє! %>
            <div class="field">
            <input placeholder="page" type="hidden" name="page" class="" value="3">  <%# !уиежЏє! %>
            </div>
            <div class="field">
            <input placeholder="read_log" type="hidden" name="read_log" class="" value="50" >
            </div>
              <div class="read-field-box">
            <input type="submit" value="50%" class="read-btn" >
            </div>
          <% end %>

            <%= form_tag('/page/3', method: :patch) do %>  <%# !уиежЏє! %>
            <div class="field">
            <input placeholder="page" type="hidden" name="page" class="n-btn" value="3">  <%# !уиежЏє! %>
            </div>
            <div class="field">
            <input placeholder="read_log" type="hidden" name="read_log" class="n-btn" value="100" >
            </div>
              <div class="read-field-box">
            <input type="submit" value="100%" class="read-btn" >
            </div>
          <% end %>
        </div>
      <% end %>

<%# BACKсЃ╗NEXTсЃ╗TOP ************** %>
          <ul class="next-back">
            <li class="next-back-box" ng-show="curriculum.previous_id" style="">
              <a ng-click="go_previous()" class="btnlink">&lt;&lt;тЅЇсЂ«сѓФсЃфсѓГсЃЦсЃЕсЃа</a>
            </li>
            <li class="next-back-box" ng-show="curriculum.next_id">
              <a ng-click="go_next()" class="btnlink" >ТгАсЂ«сѓФсЃфсѓГсЃЦсЃЕсЃа&gt;&gt;</a>
            </li>
            <li ng-hide="curriculum.next_id" class="next-back-box">
              <a href="/" class="btnlink" >TOPсЃџсЃ╝сѓИсЂИТѕ╗сѓІ</a>
            </li>
          </ul>
      </div>
<%# сѓхсѓцсЃЅсЃљсЃ╝************** %>
    </div>
    <div class="p-main__contents__lightbox">
      <div class="lightbar" >
      </div>
    </div>
</div>



</body>
</html>
